html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
header{
    padding: 20px;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}
li{
    display: inline-block;
    color: black;
    font-size: 25px;
    padding: 20px;
    padding-top: 0;
    transition: 0.3s ease;
}
li:hover{
    color: rgb(122, 119, 119);
}
article{
    padding: 0 45vh 0 45vh;
}
.FotoIndex{
    width: 50vh;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border-radius: 10px;
    margin: auto;
}
.FotoIndex:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    transform: translateY(-6px);
}
table{
    margin: auto;
}
td{
    padding: 10px;
    display: inline-block;
}
.Modellen{
    display: block;
    margin: auto;
    width: 100%;
}
.ModelTitel{
    text-align: center;
    font-size: 10vh;
    color:  rgb(172, 169, 169);
}
.ModelInfoTitel{
    font-size: 1000px;
}
.ModelInfoOndertitel{
    font-size: 100px;
}
#ModelInfoTitel{
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 5px;
}
#ModelInfoTitel small {
    font-size: 24px;
    font-weight: 400;
}
#ModelInfoOndertitel {
    color: #666;
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 0.1;
}
#ModelInfo{
    width: 40%;
    float: left;
    overflow: hidden;
    padding: 70px;
    padding-top: 200px;
    text-align: center;
}
#ModelInfoFoto{
    width: 45%;
    float: right;
    padding-top: 250px;
}
.TextBlok{
    width: 100%;
    overflow: hidden;
    margin-top: 150px;
}
.TextFoto{
    width: 45%;
    float: left;
    border-radius: 10px;
}
.TextLinks{
    width: 45%;
    float: right;
    font-size: 2vh;
}